@media screen and (min-width: 770px) {
    .carousel-controls {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
  
    .no-image {
        background: none;
    }

    .desktop-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: calc(100vh - 100px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .main {
        max-width: 500px;
        margin: 0px auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: #fff;
    }


    .main__content {
        position: relative;
        padding: 0px
    }


    .header__logo {
        width: 90px;
        margin-bottom: 0px;
    }

    .home__title {
        font-size: 28px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 0px;
    }

    .home__subtitle {
        font-size: 18px;
        font-weight: 700;
        text-align: right;
        color: #333;
        margin-bottom: 20px;
    }

    .home__line {
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-right: -40px;
        height: 1px;
        position: relative;
        background-color: #D8DADA;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .question {
        font-weight: 600;
        font-size: 18px;
        font-family: Inter;
        font-style: normal;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--Color-Text-paragraphs, #252A2D);
    }

    .progress {
        margin-top: 20px;
        margin-top: 20px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }


    .progress__bar {
        background-color: #e0e0e0;
        height: 6px;
        margin-bottom: 8px;
        border-radius: 5px;
        border-radius: 20px;
    }

    .answer {
        width: 100%;
        padding: 15px 20px;
        font-size: 16px;
        border-radius: 8px;
        background: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        height: 56px;
        box-shadow: 0 0 0 transparent;
    }

    .answer.selected {
        border: 1px solid #ccc;
        box-shadow: 0 3px 6px #00000021;
        background: #F6F6F6;
    }

    .answer label {
        margin-left: 8px;
    }


    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 25px;
        height: 25px;
        border: 2px solid #CE0058;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    label {
        cursor: pointer;
    }

    input[type="radio"]:checked::before {
        content: '';
        width: 14px;
        height: 14px;
        background-color: #CE0058;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .frm__btn {
        display: block;
        width: 100%;
        font-weight: 600;
        margin: 20px auto;
        background-color: #D8DADA;
        color: #ffffff;
        border-radius: 30px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        margin: auto;
        max-width: 1240px;
        padding: 0px;
    }

    .desktop-only {
        height: 63vh;
    }

    #previous-winners {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #previous-winners h2 {
        color: #252A2D;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }

    #previous-winners span.font-inter {
        color: #CE0058;
        text-align: center;
        font-family: Bree;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 56px;
        margin-bottom: 0px;
    }

    #previous-winners .carousel {
        display: flex;
    }

    #previous-winners .carousel {
        max-width: 65%;
        margin: 0 auto;
    }

    #previous-winners .carousel .card .card_footer .card_footer-name {
        color: #CE0058;
        font-family: Bree;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        height: 50px;
    }

    #previous-winners .carousel .card .card_footer .card_footer-description {
        color: #252A2D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

    #previous-winners .carousel {
        max-width: 45%;
        margin: 0px auto;
        padding: 20px;
    }

    #previous-winners .carousel .card .card_footer {
        padding: 24px 24px;
    }

    #previous-winners .carousel .card {
        cursor: pointer;
    }

    .thumbnail-container {
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative;
        border-radius: 8px;
    }

    .thumbnail {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s ease-in-out;
    }

    .thumbnail:hover {
        transform: scale(1.1);
    }

    .no-text {
        display: none;
    }

    #previous-winners {
        position: relative;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding: 50px 0;
        overflow: hidden;
        /* Asegura que no haya desbordamiento */
    }

    #previous-winners::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/bg-tk-page.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
        /* Reduce la opacidad de la imagen al 50% */
        z-index: -1;
        /* Coloca la imagen detr치s del contenido */
    }

    .p-oftert {
        font-weight: 600;
        font-size: 18px;
        font-family: Inter;
        font-style: normal;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--Color-Text-paragraphs, #252A2D);
    }



    .main-max-width {
        max-width: 45%;
    }

    .main.main-visible-q3_2 {
        max-width: 50%;
    }

    .main__content.main-content-visible-q3_2 {
        width: 90%;
    }

    .wrapper.wrapper-visible-q3_2 {
        display: flex;
        /* Cambia a flex solo cuando #q3_2 es visible */
        justify-content: center;
    }

    .home__title.home-title-visible-q3_2 {
        text-align: center;
        /* Cambia a centrado solo cuando #q3_2 es visible */
    }

    .c-center {
        display: flex;
        justify-content: center;
    }



    .p-title {
        color: #252A2D;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 24px;
    }

    .disableForm {
        background-color: #ffffff !important;
        border: 1px solid #c2c0bf;
    }

    .campoFormulario {

        margin: 0;
    }

    .desktop-date {
        width: 33.333%;
    }

    .desktop-date-m-d {
        display: flex;
    }

    /* Scroll para navegadores basados en WebKit (Chrome, Edge, Safari) */
    .desktop-center::-webkit-scrollbar {
        width: 8px;
        /* Grosor del scroll */
    }

    .desktop-center::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        /* Color oscuro sutil */
        border-radius: 10px;
        /* Bordes redondeados */
        transition: background 0.3s ease-in-out;
    }

    .desktop-center::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.3);
        /* Cambio de color al pasar el mouse */
    }

    .desktop-center::-webkit-scrollbar-track {
        background: transparent;
        /* Oculta la pista del scroll */
    }

    /* Para Firefox */
    .desktop-center {
        scrollbar-width: thin;
        /* Scroll delgado */
        scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
        /* Color del thumb y la pista */
    }

    .radio-button {
        margin: 0px;
    }

    .header-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gracias {
        color: #252A2D;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .text-align-center {
        text-align: center;
    }

    .container {
        max-width: 600px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
    }

    .code-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 70px;
        border: 2px solid #d3d3d3;
        border-radius: 16px;
        text-align: center;
        margin-bottom: 24px;
    }

    .code {
        font-size: 20px;
        font-weight: bold;
        color: #CE0058;
    }

    h3 {
        color: #252525;
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0px;
    }

    ul {
        padding-left: 20px;
        list-style-type: disc !important;
        margin-bottom: 32px;
    }

    ul li {
        color: #252525;
        font-size: 16px;
        list-style-position: inside;
        font-family: 'Inter', sans-serif;
    }


    p {
        color: #252A2D;
        font-size: 16px;
        line-height: 1.5;
    }

    .link {
        color: #CE0058;
        text-decoration: none;
        font-weight: 300;
        text-decoration: underline;
    }

    .link:hover {
        text-decoration: underline;
    }

    .no-padding {
        padding: 0px;
    }

    .no-margin {
        margin: 0px;
    }

    .no-padding-top {
        padding-top: 0px !important;
    }

    .h-text-typo {
        color: #CE0058;
        text-align: center;
        font-family: Bree;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .download-container {
        text-align: center;
        background: white;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 600px;
        margin: 24px auto;
    }

    .store-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 15px;
    }

    .store-buttons img {
        width: 150px;
        transition: transform 0.3s ease;
    }

    .store-buttons img:hover {
        transform: scale(1.05);
    }

    .margin-bottom-60 {
        margin-bottom: 48px !important;
    }

    #previous-winners .carousel .card .card_footer {
        row-gap: 0 px;

    }

    

    #divAvisoPri {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7) !important;
        /* Overlay gris oscuro */
        display: none;
        /* Ahora estar치 oculto */
        justify-content: center;
        align-items: center;
        z-index: 99999;
        /* Asegura que est치 sobre todo */
    }

    /* Modal centrado correctamente */
    .modal-content {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
        max-width: 720px;
        max-height: 46vh;
        overflow-y: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        margin: auto;
    }

    /* Bot칩n de cierre */
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
    }

    .cursor-finger {
        cursor: pointer !important;
    }

    .finance-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }

    .primary-btn {
        background-color: #CE0058;
        color: #ffffff;
        border: none;
    }
    
    .primary-btn:hover {
        background-color: #a30046;
        color: #ffffff;
    }
    
    .secondary-btn {
        border: 2px solid #CE0058;
        color: #CE0058;
        background-color: transparent;
        margin-bottom: 8px;
    }
    
    .secondary-btn:hover {
        border: 2px solid #910048;
        color: #910048;
    }

    .tituloGracias{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        width: 100%;
        color: #ce0058;
        font-weight: bold;
        font-size: 24px;
    }

    .carousel-controls {
        display: none;
    }

    .title-credito-grupales {
        color: #252A2D;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 32px;
    
    }

    .finance-text {
        color: #252525;
        font-size: 16px;
        margin-bottom: 10px;
        text-align: left;
    }


    .display-flex-justify-center {
        display: flex;
        justify-self: center;
    }

    .hide-desk-01 {
        display: none;
    }

    .text-left-center {
        text-align: center;
        margin-bottom: 24px;
    }

   


}